*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	font-family: "Noto Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;
}

:root {
	--primary-color: #0065ff;
	--primary-color-dark: #4752cc;
	--contrast-color: #deebff;
	--text-color: #000000;
	--text-secondary-color: #fff;
	--card-color: #02c8e7;
	--container-width: 90%;
	--text-title-size: 29px;
	--text-title-line-height: 42px;
	--text-subtitle-size: 24px;
	--text-pbig-size: 20px;
	--text-button-size: 18px;
}

.container {
	width: var(--container-width);
	margin: 0 auto;
}

.nav__menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.trello-logo {
	width: 116px;
	padding: 12px 8px;
}

.trello-logo img {
	width: 100%;
}

.menu-button {
	width: 32px;
}

.menu-button img {
	width: 100%;
}

.menu__items {
	display: flex;
	justify-content: center;
	align-items: center;
}

.desktop-nav {
	display: none;
}

.menu__items ul {
	display: flex;
	justify-content: space-between;
	gap: 30px;
}

.menu__items ul li {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
}

.menu__items ul li img {
	width: 10px;
}

.login {
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-button {
	width: auto;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 8px;
}

.login-button p {
	font-size: var(--text-button-size);
}

.blue-button {
	color: var(--text-secondary-color);
	background-color: var(--primary-color);
}

#advise {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: var(--contrast-color);
	padding: 16px 0;
}

.advise__text {
	display: flex;
	justify-content: center;
	align-items: center;
}

.advise__text p {
	text-align: center;
	line-height: 24px;
}

.advise__text p a {
	color: var(--primary-color-dark);
	text-decoration: underline;
}


#hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url(/media/images/white-wave-mobile.svg)
			center bottom -0.5px / 100% 24% no-repeat scroll padding-box border-box,
		linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto
			no-repeat scroll padding-box border-box rgb(82, 67, 170);
	background-blend-mode: normal, normal;
	color: rgb(255, 255, 255);
}

.hero__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--text-secondary-color);
	gap: 28px;
}

.hero__info {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.hero__info form {
	width: 100%;
}

.hero__texts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-top: 120px;
	gap: 12px;
}

.hero__texts h1 {
	font-size: var(--text-title-size);
	line-height: var(--text-title-line-height);
}

.hero__texts p {
	font-size: var(--text-pbig-size);
	line-height: 30px;
}

.hero__form {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.form__inputs {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form__inputs label {
	display: none;
}

.form__inputs label input {
	width: 276px;
	padding: 12px;
	border-radius: 4px;
	border: none;
}

.register-button {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	padding: 12px 28px;
	
}

.hero__video {
	width: 100%;
	color: #ffffffcc;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.hero__video p {
	text-decoration: underline;
}

.hero__video img {
	width: 22px;
}

.hero__img {
	width: 95%;
	padding: 16px;
}

.hero__img img {
	width: 100%;
}

.headings {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap:16px;
}

.headings small {
	text-transform: uppercase;
	font-weight: 600;
}
