*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	font-family: Helvetica, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;
}

:root {
    --accent-bg-color: ;
	--title-color: ;
	--contrast-color: #deebff;
    --text-color: #000000;
    --text-light-color: ;
    --text-secondary-color: ;
    --primary-color: #0065ff;
    --primary-color-dark: #4752cc;
    --container-width: 95%;
}

.container{
	width: var(--container-width);
	margin: 0 auto;
}

.mobile-nav {
	display: flex;
}


.nav__menu {
	width: 100%;
	display: flex;
	align-items: center;
    justify-content: space-between;
	
}

.trello-logo {
	width: 116px;
	padding: 12px 8px;
}

.trello-logo img {
	width: 100%;
}

.menu-button {
	width: 32px;
}

.menu-button img {
	width: 100%;
}

.menu__items {
	display: flex;
	justify-content: center;
	align-items: center;
}

.desktop-nav {
	display: none;
}

.menu__items ul {
	display: flex;
	justify-content: space-between;
	gap: 40px;
}

.menu__items ul li {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
}

.menu__items ul li img {
	width: 10px;
}

.login {
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-button p {
	font-size: 19px;
	white-space: nowrap;
	padding: 8px 16px;
}

.blue {
	color: #fff;
	background-color: var(--primary-color);
}


#advise {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: var(--contrast-color);
	padding: 16px;
}

.advise__text {
	display: flex;
	justify-content: center;
	align-items: center;
}

.advise__text p {
	text-align: center;
	line-height: 24px;
}

.advise__text p a {
	color: var(--primary-color-dark);
	text-decoration: underline;
}