*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	font-family: "Noto Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

a {
	color: var(--primary-color-dark);
	text-decoration: underline;
}

:root {
	--primary-color: #0065ff;
	--primary-color-dark: #4752cc;
	--contrast-color: #deebff;
	--text-color: #000000;
	--text-secondary-color: #fff;
	--card-color: #02c8e7;
	--selected-plan-color: #00b8d9;
	--highlight-button-color: #e6fcff;
	--container-width: 90%;
	--text-title-size: 29px;
	--text-title-line-height: 42px;
	--text-subtitle-size: 21px;
	--text-pbig-size: 19px;
	--text-button-size: 16px;
	--text-antetitle: 15px;
	--text-survey: 23px;
	--section-overflow: 140px;
	/* --nav-bar-height: 100px; */
}

.container {
	width: var(--container-width);
	margin: 0 auto;
}

.nav__menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.trello-logo {
	width: 116px;
	padding: 12px 8px;
}

.trello-logo img {
	width: 100%;
}

.menu-button {
	width: 32px;
}

.menu-button img {
	width: 100%;
}

.menu__items {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* .empty-block {
	height: var(--nav-bar-height);
	background-color: #fff;
} */

.desktop-nav {
	display: none;
	height: var(--nav-bar-height);
	background-color: #fff;
}

.menu__items ul {
	display: flex;
	justify-content: space-between;
	gap: 30px;
}

.menu__items ul li {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
}

.menu__items ul li img {
	width: 10px;
}

.login {
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-button {
	width: auto;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 8px;
}

.login-button p {
	font-size: var(--text-button-size);
}

#advise {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: var(--contrast-color);
	padding: 16px 0;
}

.advise__text {
	display: flex;
	justify-content: center;
	align-items: center;
}

.advise__text p {
	text-align: center;
	line-height: 24px;
}

.advise__text p a {
	color: var(--primary-color-dark);
	text-decoration: underline;
}

#hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url(/media/images/white-wave-mobile.svg) center bottom -0.5px / 100%
			24% no-repeat scroll padding-box border-box,
		linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto
			no-repeat scroll padding-box border-box rgb(82, 67, 170);
	background-blend-mode: normal, normal;
	color: rgb(255, 255, 255);
}

.hero__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--text-secondary-color);
	gap: 28px;
}

.hero__info {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.hero__info form {
	width: 100%;
}

.hero__texts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-top: 120px;
	gap: 12px;
}

.hero__texts h1 {
	font-size: var(--text-title-size);
	line-height: var(--text-title-line-height);
}

.hero__texts p {
	font-size: var(--text-pbig-size);
	line-height: 30px;
}

.hero__form {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.form__inputs {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form__inputs label {
	display: none;
}

.register-button {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	padding: 12px 28px;
}

.hero__video {
	width: 100%;
	color: #ffffffcc;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.hero__video p {
	text-decoration: underline;
}

.hero__video img {
	width: 22px;
}

.hero__img {
	width: 95%;
	padding: 16px;
}

.hero__img img {
	width: 100%;
}

.productivity {
	background: linear-gradient(0deg, rgb(230, 252, 255), rgb(255, 255, 255)) 0%
		0% / auto repeat scroll padding-box border-box rgb(178, 212, 255);
	background-blend-mode: normal;
	padding-bottom: 100px;
}

.productivity__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	gap: 20px;
}

.productivy__texts {
	display: flex;
	flex-direction: column;
}

.headings {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 12px;
	margin-bottom: 12px;
}

.headings small {
	font-size: var(--text-antetitle);
	text-transform: uppercase;
	font-weight: 600;
}

.headings h2 {
	font-size: var(--text-subtitle-size);
	line-height: 30px;
}

.paragraphs {
	font-size: var(--text-pbig-size);
	line-height: 28px;
}

.productivity__graphics {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.images__carousel {
	width: 100%;
}

.images__carousel img {
	width: 100%;
}

.productivity__cards {
	display: flex;
	flex-direction: column;
}

.productivity-card {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	background-color: var(--card-color);
	border-radius: 5px;
}

.productivity-card__texts {
	width: 98%;
	display: flex;
	flex-direction: column;
	gap: 12px;
	background-color: #fff;
	padding: 12px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.productivity-card__texts h4 {
	font-size: 15px;
	font-weight: 600;
}

.productivity-card__texts p {
	line-height: 24px;
}

.not-in-mobile {
	display: none;
}

.not-selected {
	background-color: transparent;
}

.workflow__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 60px 0;
	gap: 40px;
}

.orange-card {
	background-color: #ff7452;
}

.blue-card {
	background-color: #2684ff;
}

.green-card {
	background-color: #57d9a3;
}

.yellow-card {
	background-color: #ffc400;
}

.lightblue-card {
	background-color: #00c7e5;
}

.pink-card {
	background-color: #f99cdb;
}

.workflow__cards {
	max-width: 100%;
	display: flex;
	gap: 30px;
	padding: 20px;
	overflow-x: scroll;
}

.workflow__card__box {
	min-width: 320px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-top: 20px;
	border-radius: 8px;
	box-shadow: 0px 9px 5px -2px rgba(0, 0, 0, 0.09);
}

.workflow__cards::-webkit-scrollbar {
	width: 50px;
}
.workflow__cards::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}
.workflow__cards::-webkit-scrollbar-thumb {
	background: rgb(113, 113, 113);
	border-radius: 10px;
}

.workflow__icon {
	width: 46px;
	background-color: #fff;
	border-radius: 5px;
	padding: 8px;
	margin-top: -45px;
}

.workflow__icon img {
	width: 100%;
}

.workflow__card__content {
	height: 95%;
	width: 100%;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	padding: 20px;
	gap: 12px;
}

.workflow__card__texts {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 12px;
}

.workflow__card__texts h4 {
	font-size: 18px;
	font-weight: 500;
}

.workflow__card__texts p {
	line-height: 24px;
	font-weight: 400;
}

.workflow__info {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 32px;
}

.action__button {
	width: fit-content;
	display: flex;
	background-color: #fff;
	color: #000;
	padding: 16px;
	border: 1px solid var(--primary-color);
	border-radius: 4px;
}

.action__button p {
	font-size: var(--text-button-size);
	text-align: center;
	line-height: 24px;
}

.preview {
	background: linear-gradient(240deg, rgb(0, 184, 217), rgb(0, 101, 255)) 0% 0% /
		auto repeat scroll padding-box border-box rgb(0, 101, 255);
	padding-bottom: 40px;
}

.preview__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 40px;
	margin-bottom: calc(0px - var(--section-overflow)) ;
	gap: 40px;
}

.preview__heading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--text-secondary-color);
	gap: 20px;
}

.preview__heading__texts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 12px;
}

.preview__heading__texts h2 {
	font-size: var(--text-subtitle-size);
}

.preview__heading__texts p {
	font-size: var(--text-pbig-size);
	line-height: 30px;
}

.preview__images {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 28px;
}

.preview__card {
	width: 100%;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	padding: 24px;
	gap: 28px;
	box-shadow: rgba(9, 30, 66, 0.15) 0px 0.5rem 1rem 0px;
}

.preview__image {
	width: 100%;
}

.preview__image img {
	width: 100%;
}

.preview__texts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 16px;
}

.preview__texts__title {
	display: flex;
	align-items: center;
	gap: 16px;
}

.preview__texts__title small {
	font-size: var(--text-antetitle);
	text-transform: uppercase;
	font-weight: 600;
}

.preview__texts__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 16px;
}

.preview__texts__content p {
	font-size: var(--text-pbig-size);
	line-height: 30px;
}

.preview__texts__content a {
	font-size: var(--text-pbig-size);
	line-height: 30px;
}

.customization__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px 0;
	gap: 40px;
	padding-top: var(--section-overflow);
}

.customization__cards {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 32px;
}



/* SELECTORES DE HIJOS
.customization__cards:nth-child(0){order:3}
.customization__cards:nth-child(1){order:1}
.customization__cards:nth-child(2){order:2} */

.customization__card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 28px;
	background-color: #fafbfd;
	padding: 20px;
}

.customization__card__heading {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.customization__card__image {
	width: 100px;
}

.customization__card__image img {
	width: 100%;
}

.customization__card__texts {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.customization__card__heading h3 {
	font-size: 17px;
	font-weight: 600;
}

.customization__card__heading p {
	font-size: 15px;
	line-height: 24px;
}

#quotes {
	background: linear-gradient(0deg, rgb(230, 252, 255), rgb(255, 255, 255)) 0%
		0% / auto no-repeat scroll padding-box border-box transparent;
}

.quotes__content {
	display: flex;
	flex-direction: column;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	background-color: #fff;
	border-radius: 8px;
	overflow: hidden;
}

.quotes__texts {
	display: flex;
	flex-direction: column;
	background-image: url(/media/images/quoting-marks.svg);
	background-repeat: no-repeat;
	gap: 20px;
	padding: 32px 20px;
}

.quotes__texts__opinion p {
	font-size: 24px;
	line-height: 40px;
}

.quotes__author {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.author__name p {
	font-size: 15px;
	line-height: 24px;
}

.quotes__info {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.author__company {
	width: 90px;
}

.author__company img {
	width: 100%;
}

.quotes__survey {
	display: flex;
	flex-direction: column;
	background: linear-gradient(60deg, rgb(101, 84, 192), rgb(249, 156, 219)) 0%
		0% / auto repeat scroll padding-box border-box rgb(101, 84, 192);
	background-blend-mode: normal;
	color: var(--text-secondary-color);
	padding: 32px 20px;
	gap: 32px;
}

.quotes__survey p {
	font-size: var(--text-survey);
	font-weight: 600;
	line-height: 32px;
}

.quotes__survey a {
	color: rgb(255, 255, 255, 0.8);
}

#purchase {
	background: linear-gradient(rgb(230, 252, 255), rgb(255, 255, 255)) 0% 0% /
		auto no-repeat scroll padding-box border-box transparent;
}

.purchase__content {
	display: flex;
	flex-direction: column;
	padding: 80px 0;
	gap: 60px;
}

.purchase__plans {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.plans__intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 24px;
}

.intro__heading {
	display: flex;
	flex-direction: column;
	gap: 12px;
	text-align: center;
}

.intro__heading h2 {
	font-size: var(--text-subtitle-size);
}

.intro__heading p {
	font-size: var(--text-pbig-size);
	line-height: 32px;
}

.plans__comparison {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.plan__card {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	gap: 32px;
	padding: 24px 16px 48px 16px;
	border: 1px solid #dfe1e6;
}

.card__info {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.plan__card h4 {
	text-transform: uppercase;
}

.plan__price span {
	font-size: 48px;
}

.plan__description {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.plan__description p {
	line-height: 24px;
}

.plan__description span {
	font-size: 20px;
	font-weight: 600;
	text-decoration: underline;
}

.plan__engage {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.affiliated__companies {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}

.affiliated__companies p {
	font-size: var(--text-pbig-size);
	font-weight: 500;
	line-height: 32px;
	text-align: center;
}

#engage {
	background: linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% /
		auto repeat scroll padding-box border-box rgb(82, 67, 170);
}

.engage__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 48px 0;
	gap:32px;
}

.engage__content h2 {
	font-size: var(--text-subtitle-size);
	color: #fff;
}

.engage__content .form__inputs {
	flex-direction: column;
	align-items: center;
}

footer {
	background-color: #172b4d;
	color: #fff;
}

.about-us__content {
	display: flex;
	flex-direction: column;
}

.footer__login {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ffffff39;
	padding: 32px 12px 28px 0;
}

.about-us__items {
	display: flex;
	flex-direction: column;
}

.about-us__item {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 18px 0 12px 0;
	gap: 12px;
	border-bottom: 1px solid #ffffff39;
}

.about-us__item h4 {
	font-size: var(--text-antetitle);
	font-weight: 600;
}

.about-us__item p {
	width: 70%;
	font-size: 12px;
	line-height: 18px;
}

.legal__content {
	display: flex;
	flex-direction: column;
}

.language {
	display: flex;
	align-items: center;
	padding: 20px 0;
	gap: 12px;
}

.language__icon {
	width: 20px;
}

.language__icon img {
	width: 100%;
}

.language__selector {
	display: flex;
	gap: 80px;
}

.language__selector__arrow {
	width: 12px;
}

.language__selector__arrow img {
	width:100%;
}

.legal__items {
	display: flex;
	flex-direction: column;
	padding-bottom: 100px;
}

.legal__items ul {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.legal__items ul li {
	font-size: 13px;
}

.legal__items ul li a {
	color: #fff;
	text-decoration: none;
}

.rrss {
	padding-bottom: 80px;
}

.rrss ul {
	display: flex;
	gap: 30px;
}

.rrss__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 26px;
	border: 2px solid #fff;
	border-radius: 50px;
	padding: 4px;
}

.rrss__icon img {
	width: 100%;
}

/* ---Modificadores de estilo--- */

.blue-button {
	color: var(--text-secondary-color);
	background-color: var(--primary-color);
}

.plan-button {
	border: 1px solid var(--selected-plan-color);
}

.plan-selected {
	border: 2px solid var(--selected-plan-color);
}

.button-highlight {
	background-color: var(--highlight-button-color);
}
