@media (min-width: 481px) {
	:root {
		--container-width: 85%;
		--text-title-size: 44px;
		--text-title-line-height: 52px;
		--text-subtitle-size: 36px;
	}

	.form__inputs {
		width: auto;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		gap: 12px;
	}

	.form__inputs label {
		display: inherit;
	}

	.register-button {
		width: auto;
	}

	.productivy__texts {
		width: 65%;
		gap: 12px;
	}

	.headings h2 {
		font-weight: 500;
		line-height: 50px;
	}


}

/* Media query para dispositivos de escritorio (mayores a 1024px y hasta 1439px) */
@media (min-width: 1024px) {
	:root {
		--container-width: 90%;
		/* el container se vuelve a extender con laptop respecto a tablet */
	}

	.not-in-mobile {
		display: inherit;
	}

	.mobile-nav {
		display: none;
	}

	.desktop-nav {
		display: flex;
	}

	.nav__menu {
		justify-content: flex-start;
		gap: 20px;
	}

	#hero {
		padding-bottom: 200px;
	}

	.hero__content {
		flex-direction: row;
		gap: 20px;
		padding-top: 100px;
	}

	.hero__info {
		flex: 1;
	}

	.hero__texts {
		text-align: left;
		padding-top: 0;
	}

	.hero__texts h1 {
		line-height: 60px;
	}

	.hero__form {
		justify-content: flex-start;
		align-items: flex-start;
	}

	.form__inputs {
		flex-direction: column;
		justify-content: flex-start;
	}

	.hero__video {
		justify-content: flex-start;
	}

	.hero__img {
		width: 528px;
		margin-right: -67px;
		flex: 1;
	}

	.hero__img {
		align-self: flex-end;
	}

	.productivity__content {
		gap: 60px;
	}

	.productivity__graphics {
		flex-direction: row;
		align-items: flex-start;
	}

	.graphics__carousel {
		flex: 2;
		order: 1;
	}

	.graphics__cards {
		flex: 1;
		gap: 12px;
	}

	.selected {
		box-shadow: 10px 10px 14px -8px rgba(0,0,0,0.24);}

/* Media query para dispositivos de escritorio XXL (mayores a 1440px) */
@media (min-width: 1440px) {
	:root {
		--container-width: 80%;
	}

	.mobile-nav {
		display: none;
	}

	.nav__menu {
		justify-content: flex-start;
		gap: 20px;
	}
}
